<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/mobi.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>婚纱</title>
</head>

<body>
    <style></style>
    <div id="app">
        <style></style>
        <div v-html='html' :class="bodyShow?'default':''"></div>
        <div id="code" :class="codeHide?'codeHide':''" v-if="!bodyShow">
            <ul>
                <li @click="isHtml = !isHtml" :class="isHtml?'active':''">index.html</li>
                <li @click="isHtml = !isHtml" :class="isHtml?'':'active'">index.css</li>
            </ul>
            <textarea v-model="isHtml?html:style"></textarea>
            <!-- <div>{{isHtml?html:style}}</div> -->
        </div>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>